@font-face {
  src: url('../fonts/Bazzi OTF.otf');
  font-family: 'Bazzi';
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bazzi';
  background-color: #ffc1c1;
}

.navbar {
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0.5px 3px #999;
  width: 100%;
  height: 15vh;
  z-index: 2;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.down {
  background-color: white;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.navbar img {
  position: absolute;
  left: 10%;
  width: 110px;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: right;
  list-style: none;
  left: 20%;
}

.nav a {
  margin: 20px;
  color: #888;
  text-decoration: none;
  font-size: 30px;
}

.mem {
  position: absolute;
  display: flex;
  justify-content: right;
  list-style: none;
  right: 10%;
}

#login {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 70px;
  text-align: center;
  background-color: #F05173;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 22px;
}

#login:hover {
  cursor: pointer;
}

#join {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 70px;
  text-align: center;
  background-color: grey;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 22px;
}

#join:hover {
  cursor: pointer;
}

@media all and (max-width : 800px) {
  .mem{
    display: none;
  }
}

.area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.loginbox {
  margin: 120px 0 0 0;
}

.loginbox h1 {
  font-size: 80px;
  color: #F05173;
  text-align: center;
  margin: 45px 0;
}

#loginid, #loginpw {
  width: 540px;
  height: 50px;
  border: none;
  margin-bottom: 20px;
}

#joinbtn {
  margin-top: 20px;
  width: 265px;
  height: 50px;
  background-color: #959595;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 22px;
  font-family: 'Bazzi';
}

#loginbtn {
  margin-top: 20px;
  margin-right: 10px;
  width: 265px;
  height: 50px;
  background-color: #F05173;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 22px;
  font-family: 'Bazzi';
}

#logingoogle, #loginkakao{
  display: block;
  width: 540px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  border: none;
  color: #666;
  font-size: 20px;
  font-family: 'Bazzi';
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
}

#logingoogle {
  margin-top: 20px;
  background-image: url('https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587515358_10512.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10px 0;
}

#loginkakao {
  margin-top: 15px;
  background-image: url('https://pbs.twimg.com/profile_images/738200195578494976/CuZ9yUAT_400x400.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #FFE500;
  background-position: 10px 0;
}

.btn:hover {
  cursor: pointer;
}