<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/community.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
  <div class="navbar">
    <img src="/image/logo.png" alt="logo">
    <ul class="nav">
      <li><a href="/">홈</a></li>
      <li><a href="/users">만들기</a></li>
      <li><a id="loc" href="/posts">커뮤니티</a></li>
    </ul>
    <ul class="mem">
      <li><a id="login" href="login.html">로그인</a></li>
      <li><a id="join" href="join.html">회원가입</a></li>
    </ul>
  </div>
  <div class="area">
    <div class="post">
      <label class="btn_label" for="pictureBtn">+</label>
      <form style="display: none;" id="img_form" method="post" action="/posts" encType="multipart/form-data">
        <input id="pictureBtn" name="image" type="file" onChange="document.getElementById('img_form').submit();" />
      </form>
      <div class="btnWrap">
        <button id="date_btn">최신순</button>
        <button id="like_btn">좋아요순</button>
      </div>
      <div id="container"></div>
    </div>
  </div>
  <script>
    const container = document.getElementById("container");
    const dateBtn = document.getElementById("date_btn");
    const likeBtn = document.getElementById("like_btn");

    const clickLike = (e) => {
      if (e.target.innerHTML === "🤍") {
        e.target.innerHTML = "💖";
      } else {
        e.target.innerHTML = "🤍";
      }
    }

    const loadPosts = (standardOfSort) => {
      $.ajax({
        type: "GET",
        url: "/posts/board",
        data: {
          standardOfSort
        },
        dataType: "json",
        success: function (result) {
          console.log("standardOfSort: " + standardOfSort);
          container.innerHTML = "";
          for (let data of result.data) {
            container.innerHTML +=
              `
              <div class="post_img">
                <img src="/upload/${data.contents.split("\\").pop()}" width="500px" height="300px">
                  <button class="delete_btn" onclick="clickLike(event)">🤍</button>
                </img>
              </div>
              `
          }
        },
        error: function (error) {
          alert("ajax error");
        }
      });
    };

    loadPosts("date");

    dateBtn.onclick = () => {
      loadPosts("date");
    };

    likeBtn.onclick = () => {
      loadPosts("like");
    };

    // const clickSort = (event) => {
    //   if(event.target.innerHTML === "최신순") {
    //     dateBtn.setAttribute("border-bottom", "2px solid #aaa");
    //     likeBtn.setAttribute("border-bottom", "0");
    //   } else {
    //     likeBtn.setAttribute("border-bottom", "2px solid #aaa");
    //     dateBtn.setAttribute("border-bottom", "0");
    //   }
    // }
    dateBtn.addEventListener("click", (event) => {
      console.log(event.target.innerHTML);
      if (event.target.innerHTML === "최신순") {
        $("#date_btn").css("border-bottom", "2px solid #aaa");
        $("#like_btn").css("border-bottom", "0");
      } else if(event.target.innerHTML === "좋아요순") {
        $("#like_btn").css("border-bottom", "2px solid #aaa");
        $("#date_btn").css("border-bottom", "0");
      }
    });
    likeBtn.addEventListener("click", (event) => {
      console.log(event.target.innerHTML);
      if (event.target.innerHTML === "최신순") {
        $("#date_btn").css("border-bottom", "2px solid #aaa");
        $("#like_btn").css("border-bottom", "0");
      } else if(event.target.innerHTML === "좋아요순") {
        $("#like_btn").css("border-bottom", "2px solid #aaa");
        $("#date_btn").css("border-bottom", "0");
      }
    });
  </script>
</body>

</html>