<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/community.css">
  <link rel="stylesheet" href="/css/modal.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
  <div class="navbar">
    <img src="/images/logo.png" alt="logo">
    <ul class="nav">
      <li><a href="/">홈</a></li>
      <li><a href="/nail">만들기</a></li>
      <li><a id="loc" href="/posts">커뮤니티</a></li>
    </ul>
    <ul class="mem">
      <% if(session.userId){ %>
      <li class="email"><%= session.userEmail %></li>
      <li class="name"><%= session.userName %></li>
      <form action="/user/logout" method="get">
        <input id="logout" type="submit" value="로그아웃">
      </form>
      <% } else{ %>
      <li><a id="login" href="/user/login">로그인</a></li>
      <li><a id="join" href="/user/sign_up">회원가입</a></li>
      <% } %>
    </ul>
  </div>
  <div class="area">
    <div class="post">
      <% if(session.userId){ %>
      <label class="btn_label" for="pictureBtn"></label>
      <form style="display: none;" id="img_form" method="post" action="/posts" encType="multipart/form-data">
        <input id="pictureBtn" name="image" type="file" onChange="document.getElementById('img_form').submit();" />
      </form>
      <% } %>
      <div class="btnWrap">
        <button id="date_btn">최신순</button>
        <button id="like_btn">좋아요순</button>
      </div>
      <div id="container"></div>
    </div>
  </div>
  <div class="modal hidden">
    <div class="modal_overlay">
    </div>
    <div class="withdraw_check">
      <header class="modal_header">
        <span class="close">X</span>
      </header>
      <img id="img" src="/upload/1606552479928_6.jpg" alt="이미지">
    </div>
  </div>
  <script>
    const container = document.getElementById("container");
    const dateBtn = document.getElementById("date_btn");
    const likeBtn = document.getElementById("like_btn");
    let standardOfSort = "date";
    const openBtns = document.querySelectorAll(".open");
    const modal = document.querySelector(".modal");
    const overlay = modal.querySelector(".modal_overlay");
    const closeBtn = modal.querySelector(".close");

    const openModal = (event) => {
      const img = document.getElementById("img");
      modal.classList.remove("hidden");
      img.src = event.target.src;
    }

    const closeModal = () => {
      modal.classList.add("hidden");
    }

    overlay.addEventListener("click", closeModal);
    closeBtn.addEventListener("click", closeModal);

    for (const btn of openBtns) {
      btn.addEventListener("click", openModal);
    }

    const clickLike = async (e) => {
      const postId = e.target.id;

      if (e.target.innerHTML === "🤍") {
        console.log("postId: " + postId);
        await $.ajax({
          type: "POST",
          url: `/posts/${postId}/like`,
          data: {},
          dataType: "json",
          success: function (result) {
            console.log("ajax success[CREATE LIKE]");
          },
          error: function (error) {
            console.log("ajax error[CREATE LIKE]");
          }
        });

        loadPosts(standardOfSort);

        e.target.innerHTML = "💖";
      } else {
        await $.ajax({
          type: "DELETE",
          url: `/posts/${postId}/like`,
          data: {},
          dataType: "json",
          success: function (result) {
            console.log("ajax success[DELETE LIKE]");
          },
          error: function (error) {
            console.log("ajax error[DELETE LIKE]");
          }
        });

        loadPosts(standardOfSort);

        e.target.innerHTML = "🤍";
      }
    }

    const clickDelete = async (e) => {
      const postId = e.target.id;

      await $.ajax({
        type: "DELETE",
        url: `/posts/${postId}`,
        data: {},
        dataType: "json",
        success: function (result) {
          console.log("ajax success[DELETE POST]");
        },
        error: function (error) {
          console.log("ajax error[DELETE POST]");
        }
      });

      loadPosts(standardOfSort);
    }

    const loadPosts = (standardOfSort) => {
      $.ajax({
        type: "GET",
        url: "/posts/board",
        data: {
          standardOfSort
        },
        dataType: "json",
        success: function (result) {
          container.innerHTML = "";
          for (let post of result.data.posts) {
            if (result.data.currentUserId === post.UserId) {
              if (result.data.likedArr.includes(post.id)) {
                container.innerHTML +=
                  `
                <div class="post_img">
                  <div class="img_header">
                    <button id="${post.id}" class="header_btn" style="margin-right: 10px !important;" onclick="clickDelete(event)">❌</button>
                    <div class="like_cnt">
                      ${post.likeCnt}
                    </div>
                    <button id="${post.id}" class="header_btn" onclick="clickLike(event)">💖</button>            
                  </div>
                  <img class="open" onclick="openModal(event)" src="/upload/${post.contents.split("\\").pop()}" width="500px" height="300px">
                </div>
                `;
              } else {
                container.innerHTML +=
                  `
                <div class="post_img">
                  <div class="img_header">
                    <button id="${post.id}" class="header_btn" style="margin-right: 10px !important;" onclick="clickDelete(event)">❌</button>
                    <div class="like_cnt">
                      ${post.likeCnt}
                    </div>
                    <button id="${post.id}" class="header_btn" onclick="clickLike(event)">🤍</button>            
                  </div>
                  <img class="open" onclick="openModal(event)" src="/upload/${post.contents.split("\\").pop()}" width="500px" height="300px">
                </div>
                `;
              }
            } else {
              if (result.data.likedArr.includes(post.id)) {
                container.innerHTML +=
                  `
                <div class="post_img">
                  <div class ="img_header">
                    <div id="${post.id}" class="like_cnt" style="margin-right: 10px !important;">
                      ${post.likeCnt}
                    </div>  
                    <button id="${post.id}" class="header_btn" onclick="clickLike(event)">💖</button>
                  </div>
                  <img class="open" onclick="openModal(event)" src="/upload/${post.contents.split("\\").pop()}" width="500px" height="300px">
                </div>
                `;
              } else {
                container.innerHTML +=
                  `
                <div class="post_img">
                  <div class ="img_header">
                    <div id="${post.id}" class="like_cnt" style="margin-right: 10px !important;">
                      ${post.likeCnt}
                    </div>  
                    <button id="${post.id}" class="header_btn" onclick="clickLike(event)">🤍</button>
                  </div>
                  <img class="open" onclick="openModal(event)" src="/upload/${post.contents.split("\\").pop()}" width="500px" height="300px">
                </div>
                `;
              }
            }
          }
        },
        error: function (error) {
          console.log("ajax error[Load Posts]");
        }
      });
    };

    loadPosts(standardOfSort);

    dateBtn.onclick = () => {
      loadPosts("date");
      standardOfSort = "date";
    };

    likeBtn.onclick = () => {
      loadPosts("like");
      standardOfSort = "like";
    };

    dateBtn.addEventListener("click", (event) => {
      console.log(event.target.innerHTML);
      if (event.target.innerHTML === "최신순") {
        $("#date_btn").css("border-bottom", "2px solid #aaa");
        $("#like_btn").css("border-bottom", "0");
      } else if (event.target.innerHTML === "좋아요순") {
        $("#like_btn").css("border-bottom", "2px solid #aaa");
        $("#date_btn").css("border-bottom", "0");
      }
    });

    likeBtn.addEventListener("click", (event) => {
      console.log(event.target.innerHTML);
      if (event.target.innerHTML === "최신순") {
        $("#date_btn").css("border-bottom", "2px solid #aaa");
        $("#like_btn").css("border-bottom", "0");
      } else if (event.target.innerHTML === "좋아요순") {
        $("#like_btn").css("border-bottom", "2px solid #aaa");
        $("#date_btn").css("border-bottom", "0");
      }
    });
  </script>
</body>

</html>