<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/community.css">
</head>

<body>
  <div class="navbar">
    <img src="/image/logo.png" alt="logo">
    <ul class="nav">
      <li><a href="/">홈</a></li>
      <li><a href="/user">만들기</a></li>
      <li><a id="loc" href="/posts">커뮤니티</a></li>
    </ul>
    <ul class="mem">
      <li><a id="login" href="login.html">로그인</a></li>
      <li><a id="join" href="join.html">회원가입</a></li>
    </ul>
  </div>
  <div class="area">
    <div class="post">
      <h1>Hello World!</h1>
    </div>
  </div>
</body>

</html>