<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
  <a href="/">main</a>
  <h1>Hello Post!</h1>
  <form id="img_form" method="post" action="/posts" encType="multipart/form-data">
    <input name="image" type="file" onChange="document.getElementById('img_form').submit();" />
  </form>
  <div id="container"></div>
  <script>
    const container = document.getElementById("container");
    $.ajax({
      type: "POST",
      url: "/posts/test",
      data: {},
      dataType: "json",
      success: function (result) {
        for (let data of result.data) {
          container.innerHTML +=
            `<img src="/upload/${data.contents.split("\\").pop()}" width="500px" height="300px">`
        }
      },
      error: function (error) {
        alert("ajax error");
      }
    });
  </script>
</body>

</html>